.custom-button {
    padding: 15px 20px;
    border: none;
    outline: none;
}
.slide-wrapper {
    position: relative;
}
.slide-wrapper .slide-title {
    position: absolute;
    bottom: 0px;
    padding: 10px;
    color: white;
    font-weight: 700;
    background-color: #222222;
    opacity: 0.8;
}