.template-control-area {
    display: none;
    z-index: 100;
}
.template-wrapper:hover .container {
    opacity: 0.2;
    transition: 0.5s;
}
.template-wrapper:hover .container-fluid {
    opacity: 0.2;
    transition: 0.5s;
}
.template-wrapper:hover .template-control-area {
    display: block;
    transition: 0.5s;
}
